/* CSS Document */

* { margin:0; padding:0;}
html{font:12px/15px arial, helvetica, sans-serif;}
body{
	background: url(images/fill_top.gif) left top repeat-x #EBDDC4;	
}
input, textarea{color:#C9A382;}
ul {list-style:none;}
li {
	background:url(images/arr.gif) 0 8px no-repeat;
	padding:0 0 0 12px;
}
li a {
	font-size:11px;
	line-height:20px;
	color:#275C98;
	text-decoration:none;
	font-weight:bold;
}
li a:hover {text-decoration:underline;}

.col { float:left;}
.clear { clear:both;}
/*---table---*/
.top{ background:url(images/top.gif) left top repeat-x; width:100%;}
.side_left{ background:url(images/side.gif) left top repeat-y #F2E9D4;}
.side_right{ background:url(images/side.gif) right top repeat-y;}
.side_bot{ background:url(images/side.gif) left bottom repeat-x;}
/*---table---*/


/*---txt---*/
.title{ color:#FFFFFF; font:13px/18px arial, helvetica, sans-serif; font-weight:bold;}
.title_1{font:13px/18px arial, helvetica, sans-serif; font-weight:bold;}
.title_2{ color:#265A95; font-weight:bold;}
.title_3{font:12px/15px arial, helvetica, sans-serif; font-weight:bold;}
.title_4{font:13px/14px arial, helvetica, sans-serif; font-weight:bold;}
.title_5{ color:#265A95; font-weight:bold; font-size:11px;}
.txt_1{ font-size:11px; line-height:13px;}
.txt_2{ font-size:11px; line-height:12px;}
.txt_3{line-height:18px;}
/*---//	txt---*/


/*---links---*/
a:hover{ text-decoration:none;}
.link_1{ color:#265A95; text-decoration:none; background:url(images/arr.gif) right 5px no-repeat; text-transform:uppercase; padding:0 14px 0 0;}
.link_1:hover{ text-decoration:underline;}
.link_2{ color:#265A95;}
.link_3{ color:#265A95; font-size:11px; text-decoration:none; background:url(images/arr.gif) right 5px no-repeat; text-transform:uppercase; padding:0 14px 0 0;}
.link_3:hover{ text-decoration:underline;}
.link_4{ color:#265A95; text-decoration:none;}
.link_4:hover{ color:#265A95; text-decoration:underline;}
/*---//	links---*/


#main {background:#EBDDC4; text-align:left;}

#header { background: url(images/bg_header.jpg) left top no-repeat; color:#F2E9D4;}
#header a{ text-decoration:none; color:#F2E9D4;}
#header .link{ background:url(images/pic_1.gif) right 1px no-repeat; padding:0 17px 0 0;}
#header a:hover{ text-decoration:underline;}
#header .block_h{ margin:24px 0 51px 218px;}
/*---page---*/
#wrapper{ color:#2B2822;}
#page #wrapper .column .indent{margin:0 0 6px 23px;}
#page #wrapper .column .top .indent{padding:3px 0 68px 15px; margin:0;}
#page #wrapper .column_1 .indent{margin:0 2px 6px 3px;}
#page #wrapper .column_1 .block{ background:url(images/bg_1.gif) left top no-repeat; padding:33px 0 25px 11px;}
#page #wrapper .column_1 .top .indent{padding:3px 10px 36px 13px; margin:0;}
#page #wrapper .column_2 .indent{padding:0 25px 6px 0;}
#page #wrapper .column_2 .top .indent{padding:2px 5px 17px 9px; margin:0;}
#page #wrapper .column_2 .block .top .indent{padding:2px 15px 23px 9px; margin:3px 0 0 0;}
/*---// page---*/

/*---page_1---*/
#page_1 #wrapper .column .indent{margin:0 0 6px 23px;}
#page_1 #wrapper .column .top .indent{padding:3px 30px 32px 15px; margin:0;}
#page_1 #wrapper .column .block .top .indent{padding:3px 30px 20px 15px;}
#page_1 #wrapper .column .block{margin:3px 0 0 0;}
#page_1 #wrapper .column .block_1{ float:left; width:220px; padding:0 45px 0 0;}
#page_1 #wrapper .column .block_2{ float:left; width:217px;}
#page_1 #wrapper .column_1 .indent{margin:0 0 6px 3px;}
#page_1 #wrapper .column_1 .top .indent{padding:2px 10px 16px 9px; margin:0;}
#page_1 #wrapper .column_1 .top .block{padding:23px 0 0 5px;}
#page_1 #wrapper .column_1 .block_1{ margin:3px 0 0 0;}
#page_1 #wrapper .column_1 .block_1 .top .indent{padding:2px 0 13px 9px;}
/*---// page_1---*/

/*---page_2---*/
#page_2 #wrapper .column .indent{margin:0 0 6px 23px;}
#page_2 #wrapper .column .top .indent{padding:3px 20px 33px 15px; margin:0;}
#page_2 #wrapper .column .block{ float:left; width:225px; margin:3px 0 0 0;}
#page_2 #wrapper .column .block .top .indent{padding:3px 20px 20px 15px; margin:0;}
#page_2 #wrapper .column .block_1{ width:285px; float:left; background:url(images/3_bg_1.gif) 0 0 no-repeat; margin:3px 0 0 4px; padding:13px 0 19px 4px;}
#page_2 #wrapper .column_1 .indent{margin:0 0 6px 3px;}
#page_2 #wrapper .column_1 .top .indent{padding:2px 10px 21px 9px; margin:0;}
#page_2 #wrapper .column_1 .block{padding:3px 0 0 0; margin:0;}
/*---// page_2---*/

/*---page_3---*/
#page_3 #wrapper .column .indent{margin:0 0 6px 23px;}
#page_3 #wrapper .column .top .indent{padding:3px 30px 32px 15px; margin:0;}
#page_3 #wrapper .column .block{margin:3px 0 0 0;}
#page_3 #wrapper .column .block .top .indent{padding:3px 20px 25px 15px; margin:0;}
#page_3 #wrapper .column_1 .indent{margin:0 0 6px 3px;}
#page_3 #wrapper .column_1 .top .indent{padding:2px 10px 21px 9px; margin:0;}
#page_3 #wrapper .column_1 .block{ margin:23px 0 12px 5px;}
/*---// page_3---*/

/*---page_4---*/
#page_4 #wrapper .column .indent{margin:0 0 6px 23px;}
#page_4 #wrapper .column .top .indent{padding:3px 20px 32px 15px; margin:0;}
#page_4 #wrapper .column .block{margin:3px 0 0 0;}
#page_4 #wrapper .column .block .top .indent{padding:3px 25px 24px 15px; margin:0;}
#page_4 #wrapper .column_1 .indent{margin:0 0 6px 3px;}
#page_4 #wrapper .column_1 .top .indent{padding:2px 10px 21px 9px; margin:0;}
#page_4 #wrapper .column_1 .block{ margin:25px 10px 3px 6px;}
/*---// page_4---*/

/*---page_5---*/
#page_5 #wrapper .column .indent{margin:0 0 6px 23px;}
#page_5 #wrapper .column .top .indent{padding:3px 20px 28px 15px; margin:0;}
/*---// page_5---*/

#footer{ color:#302D27;}
#footer .indent {padding:0px 25px 0 23px;}
#footer a{ color:#275C98; font-weight:bold;}

